.ui-draggable,
.ui-droppable {
    background-position: top;
}

div.infoBox {
    font-size: 9px;
    border: 1px;
}

div.infoPanel {
    display: none;
    padding: 5px;
    position: absolute;
    left: 10px;
    top: 80px;
    width: 258px;
    cursor: hand;
    background: white;
    color:rgb(129, 128, 128);
    box-shadow: rgba(116, 112, 112, 0.555) 1px 1px 10px;
    z-index: 888;
}

div.searchPanel {
    padding: 4px;
    position: absolute;
    left: 10px;
    top: 20px;
    width: 260px;
    height: 30px;
    cursor: hand;
    background: white;
    color: #ecb80e;
    box-shadow: rgba(116, 112, 112, 0.555) 1px 1px 10px;
    z-index: 900;
}

div.searchPanel1 {
    width: 220px;
    float: left;
}

input.searchBox {
    width: 100%;
    height: 100%;
}

div.searchPanel2 {
    width: 30px;
    height: 20px;
    background-color: #6495ed;
    color: white;
    float: left;
    padding: 5px 0px 5px 10px;
}

div.infoPanel1 {
    width: 230px;
    float: left;
}

div.infoPanel2 {
    width: 20px;
    height: 20px;
    float: right;
    padding: 5px 0px 5px 5px;
}

.btnCloseInfoPanel {
    border: solid 1px darkgray;
}

ul.ui-autocomplete {
    font-size: 12px;
    z-index: 999;
}

div.messageBox {
    position: absolute;
    width: 300px;
    background-color: lightgray;
    color:black;
    padding: 20px 20px 20px 20px;  
}